.home-background{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.home-option{
    border: solid;
    border-color: blueviolet;
    background-color: aqua;
    width: 100%;
    height: 3em;
}