.home-background{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 3.45em;
}

.home-option{
    border: none;
    border-radius: 5px;
     background: linear-gradient(45deg, rgb(20, 43, 68), rgb(31, 63, 97));
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 410px;
    margin-top: 10px;
    cursor: pointer;
}

.option-label{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
    z-index: 2;
}


@media(min-width: 640px){
    .home-option{
        width: 45%;
    }
}