.header-background{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 43, 68);
    height: 55px;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.image-logo{
    margin-left: 5px;
    height: 47px;
    width: 49px;
     cursor: pointer;
}
.title-background{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.title{
    font-family: 'Rubik Dirt', Courier, monospace;
    color: white;
    font-size: 20px;
     cursor: pointer;
}
.user-icon-container{
    width: 15%;
    width: 45px;
    cursor: pointer;
}
.user-icon{
    color: white;
}

@media (min-width: 640px) {
    .title{
        font-size: 25px;
    }
}