.category-detail-background{ /*category-listed-background*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 3.45em;
}

.category-detail-image-container{
   position: relative;
   display: flex;
   justify-content: center; 
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
    max-width: 420px;
    height: 15em;
}
.category-detail-route{
    text-align: center;
    width: 100%;
}
.category-image{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.input-category-image{
    margin-top: 15px;
}

.category-detail-title{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.category-desc-input{
    margin-top: 25px;
    font-size: 16px;
}
.detail-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.parent-selector-title{
    font-size: 14px;
    width: 50%;
    max-width: 209px;
}

.parent-selector{
    height: 2em;
    width: 45%;
    max-width: 168px;
}

.subcategories-option{
    display: flex;
    width: 80%;
    
}
.subcategories-title{
    font-size: 16px;
    width: 65%;
    max-width: 172px;
}
.edit-category-button-detail{
    border-radius: 5px;
    height: 40px;
    width:90%;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    background-color: rgb(32, 68, 105);
    cursor: pointer;
    margin-top: 15vh;
    max-width: 420px;
    transition: all ease-in-out 200ms;
    
}
.detail-category-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}

@media(min-width: 1024px){
    
    .category-detail-title{
        top: 24%;
        left:25%;
   }
   .category-detail-image-container{
        max-width: 450px;
   }
   
   .detail-category-data{
        width: 50%;
   }
   .parent-selector-title{
        font-size: 16px;
   }
}